doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/docs.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.nav.navbar-inverse.navbar-fixed-top
        div.navbar-inner
            div.container
                a.brand(href="/") Bootstrap
    div.container
        block content

    