extends layout

block content
    include paging
    h3= title
    ul.top-list
        each star in stars
            li
                .photo
                    img(src="#{star.img}", width="150")
                a(href="/stars/#{star.name}")
                    span.name #{star.name}